body {
	overflow-x: hidden;
}

p {
	font-size: 1.5em;
}

#sponsor-wall img {
	max-height: 50px;
	margin: 20px;
	filter: gray;
	-webkit-filter: grayscale(1);
	-o-transition: .5s;
	-ms-transition: .5s;
	-moz-transition: .5s;
	-webkit-transition: .5s;
	transition: .5s;
}

.container {
  padding: 0 0;
  margin: 0 0;
  max-width: 1280px;
  width: 100%; 
}

#io-container{
	background: url('../vid/Saint_Barthelemy.png') no-repeat #000000;
}

.io-content-header{
    box-shadow:0 2px 4px rgba(0,0,0,.2);
    max-height:100px;
    min-height:100px;
    width:100%;
    padding-left:15%;
}

.io-content-header h1{
	padding: 0;
	display:inline;
}

.smallcontainer {
  padding: 0 0;
  margin: 0 0;
  max-width: 1280px;
  width: 100%; 
}

.mobileonly {
	display: block;
}

#sponsor-wall {
	overflow: none;
}

#sponsor-wall > a:nth-child(13) > img {
	width: 100%;
	max-height: 70px;
}

#logo-container {
	margin-top: -100px;
	position: relative;
	top: 50px;
}

#logo {
	height: 115px;
	width: 300px;
	position: relative;
	bottom: 40px;
}