.navbar, #bgvid, footer {
	display:none;
}

#header-container {
	background: url('../vid/Saint_Barthelemy.png') no-repeat #000000;
}

#logo {
	height: 115px;
	width: 300px;
}

#header p {
	margin-top: 0px;
	font-size: 1em;
}

#header .headline {
	margin-bottom: 0px;
	margin-top: 5px;
	line-height: 20px;
	font-size: 1.1em;
}

.section-container {
	padding-bottom: 20px;
}

.section-header {
	padding: 10px;
}

.section-header h2 {
	font-size: 2em;
}

p {
	margin-top: 0;
	font-size: 1.1em;
}

.sponsor-wall {
	width: 80%;
}

.sponsor-wall img {
	max-height: 150px;
	min-height: 50px;
	margin: 5px;
}

.faq {
	margin-top: -10px;
}

.schedule-container {
	margin: -10px auto 0 auto;
}

.schedule {
	padding: 5px;
}

.schedule-content {
	margin: 0 10px 0 10px;
}

.schedule-day p{
	margin: 5px 5px 5px;
}

.event p {
	font-size: 1.1em;
}

.aboutus {
	margin: auto;
	height: 360px;
}

.size-180 {
	height: 80px;
}

.size-200 {
	height:90px;
}

.map-canvas {
	height: 250px;
}

#mc_embed_signup{
	display: none;
}